<% var path = htmlWebpackPlugin.options.path %>
<% var language = htmlWebpackPlugin.options.language %>
<% var trackingId = htmlWebpackPlugin.options.trackingId %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <% include ./partial/_head.ejs %>
</head>
<body>
<% include ./partial/_gtm.ejs %>
<div data-layer="Header" class="header">
    <div class="wrapper">
        <div class="header-content">
            <img data-layer="rainbow" class="rainbow" src="<%= require('resources/img/h_rainbow.png') %>"/>
            <a href="#greeting" title="ごあいさつ">ごあいさつ</a>
            <a href="#values" title="大切にしていること">大切にしていること</a>
            <a href="#day" title="みらいキッズの１日">みらいキッズの１日</a>
            <a href="#howtouse" title="ご利用案内">ご利用案内</a>
            <a href="#information" title="お知らせ">お知らせ</a>
            <a href="#contact" title="お問い合わせ">お問い合わせ</a>
        </div>
    </div>
</div>
<div data-layer="Topページ" class="top">
    <div data-layer="FV" class="fv">
        <div class="wrapper">
            <div data-layer="FV_Content" class="fv-content">
                <img data-layer="rainbow" class="rainbow" src="<%= require('resources/img/fv_rainbow.png') %>"/>
                <img data-layer="rainbow" class="en-logo" src="<%= require('resources/img/fv_en_logo.svg') %>"/>
                <div data-layer="みらいキッズ">みらいキッズ</div>
            </div>
        </div>
    </div>
    <div class="greeting" id="greeting">
        <img class="circle1"
             src="<%= require('resources/img/circle.svg') %>" alt="circle"/>
        <img class="circle2"
             src="<%= require('resources/img/circle.svg') %>" alt="circle"/>
        <img class="circle3"
             src="<%= require('resources/img/circle.svg') %>" alt="circle"/>
        <div class="wrapper">
            <h2 class="title">
                ごあいさつ
            </h2>
            <p class="sub-title">
                Greeting
            </p>
            <p class="text1">
                松元地区に令和７年５月１日に新しくできた療育施設です。<br/>地域のこどもたちやご家族の「育ち」や「育て」をサポートし、<br/>なんでも気軽に相談できる場所になりたいと考えています。
            </p>
            <img class="banzai"
                 src="<%= require('resources/img/banzai.png') %>" alt="people"/>
            <p class="text2">
                なんでもお気軽にご相談ください🎵
            </p>
        </div>
    </div>
    <div class="values" id="values">
        <div class="wrapper">
            <h2 class="title">
                大切にしていること
            </h2>
            <p class="sub-title">
                Values
            </p>
            <div class="text">
                みらいキッズは、こどもたちとそのご家族、および地域に寄り添い、<br/>丁寧な支援を行うことを基本理念とした放課後等デイサービスです。<br/>こどもたちの「つながり」や「学び合い」を大切にしながら、<br/>「頑張ってよかった！」と感じることができるような支援を目指しています。
            </div>
            <ul>
                <li class="list-item">
                    <h3 class="li-title">
                        成長につながる<br>支援の工夫
                    </h3>
                    <p class="li-text">
                        一人一人の力に応じた支援の工夫を行い自分の力を存分に発揮できるようにします。
                    </p>
                </li>
                <li class="list-item">
                    <h3 class="li-title">
                        こども同士が<br>学び合える環境づくり
                    </h3>
                    <p class="li-text">
                        小集団の中で友達とたくさん関わり、互いに学び合えるようにサポートします。
                    </p>
                </li>
                <li class="list-item">
                    <h3 class="li-title">
                        ご家族との信頼し<br>合える関係づくり
                    </h3>
                    <p class="li-text">
                        こどもさんの様子をご家族と共有し成長を一緒に喜ぶことのできる関係づくりを目指します。
                    </p>
                </li>
                <li class="list-item">
                    <h3 class="li-title">
                        チームでの<br>統一した支援
                    </h3>
                    <p class="li-text">
                        職員間で支援の情報を共有し、統一したかかわりを持つことができるようにします。
                    </p>
                </li>
                <li class="list-item">
                    <h3 class="li-title">
                        関係機関との連携
                    </h3>
                    <p class="li-text">
                        学校や児童クラブなどと連携し、地域全体でこどもたちを支える環境をつくります。
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="day" id="day">
        <div class="wrapper">
            <h2 class="title">
                みらいキッズの１日
            </h2>
            <div class="sub-title">
                Day
            </div>
            <p class="text">
                みらいキッズでは、活動だけでなく、みらいキッズで過ごす時間のすべてが<br/>こどもたちの経験や学びにつながることを目標にしています。<br/>ご家族と一緒に考えた個別支援計画を基に、こどもたちの強みや<br/>課題に合わせた遊びや支援の工夫を毎日丁寧に考えています。
            </p>

            <div class="days">
                <svg width="1093" height="772" viewBox="0 0 1093 772" fill="none" class="rectangle"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H1093V772H0V0Z" fill="#FFEFB5"/>
                </svg>
                <div class="day1">
                    <h3>
                        放　課　後
                    </h3>
                    <img class="school"
                         src="<%= require('resources/img/school.png') %>" alt="school"/>
                    <p>１５：００　お迎え（学校）</p>
                    <p>１５：３０　着替え・学習・自由遊び</p>
                    <p>１６：００　はじめの会</p>
                    <p>１６：１０　おやつ</p>
                    <p>１６：３０　活動</p>
                    <p>１７：１５　帰りの会</p>
                    <p>１７：３０　降所</p>
                    <p class="remark margin">※　下校時刻に合わせてお迎えに行きます。</p>
                    <p class="remark">※　帰宅時間は、送迎の順番によって変動します。</p>
                    <img class="block-asobi-boy"
                         src="<%= require('resources/img/block_asobi_boy.png') %>" alt="block_asobi_boy"/>
                    <img class="oekaki-girl"
                         src="<%= require('resources/img/oekaki_girl.png') %>" alt="oekaki_girl"/>
                </div>
                <div class="day2">
                    <h3>
                        長　期　休　暇
                    </h3>
                    <p>１０：００　お迎え（ご自宅・児童クラブ等）</p>
                    <p>１０：３０　学習・自由遊び</p>
                    <p>１１：３０　はじめの会</p>
                    <p>１１：４５　活動</p>
                    <p>１２：３０　昼食・歯みがき</p>
                    <p>１３：３０　活動</p>
                    <p>１４：３０　おやつ</p>
                    <p>１４：４５　帰りの会</p>
                    <p>１５：００　降所</p>
                    <p class="remark margin">※　帰宅時間は、送迎の順番によって変動します。</p>
                    <p class="remark">※　長期休暇中はお弁当をご準備ください。</p>
                    <img class="study-school-jugyou-girl"
                         src="<%= require('resources/img/study_school_jugyou_girl.png') %>"
                         alt="study_school_jugyou_girl"/>
                    <img class="obentou"
                         src="<%= require('resources/img/obentou.png') %>" alt="obentou"/>
                    <img class="school-bus"
                         src="<%= require('resources/img/school_bus.png') %>" alt="school_bus"/>
                </div>
            </div>
        </div>
    </div>
    <div class="howtouse" id="howtouse"
         style="width: 1480px; height: 1017px; left: 0px; top: 4780px; position: absolute; background: white; overflow: hidden">
        <div data-svg-wrapper data-layer="Rectangle 5" class="Rectangle5"
             style="left: 129px; top: 412px; position: absolute">
            <svg width="1103" height="552" viewBox="0 0 1103 552" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H1103V552H0V0Z" fill="#FFEFB5"/>
            </svg>
        </div>
        <h2 data-layer="ご利用案内" class="title"
            style="width: 176.60px; left: 616.42px; top: 197px; position: absolute; color: #013C60; font-size: 35px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
            ご利用案内
        </h2>
        <div data-layer="How to use" class="sub-title"
             style="width: 99.91px; left: 654.77px; top: 248px; position: absolute; color: #013C60; font-size: 20px; font-family: Asap; font-weight: 700; word-wrap: break-word">
            How to use
        </div>
        <div data-layer="お問い合わせ　▶　相談・見学　▶　利用申込　▶　契約手続き　▶　契約　▶　利用開始"
             style="width: 845.67px; left: 318.72px; top: 318px; position: absolute; color: #013C60; font-size: 20px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
            お問い合わせ　▶　相談・見学　▶　利用申込　▶　契約手続き　▶　契約　▶　利用開始<br/></div>
        <div data-layer="※　受給者証をお持ちでない場合は、市役所での申請が必要です。"
             style="width: 845.67px; height: 34px; left: 318.72px; top: 349px; position: absolute; color: #013C60; font-size: 20px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
            ※　受給者証をお持ちでない場合は、市役所での申請が必要です。<br/></div>
        <div data-layer="対　　象　　小学１年生～高校３年生（受給者証をお持ちの方） 開 所 日　　月曜日～金曜日（祝日・お盆・年末年始を除く） 　　　　　　※　不定期で土曜日に行事を開催します。 支援時間　　学校授業日　学校終了後～１７：３０ 　　　　　　学校休業日　１０：３０～１５：００ 送　　迎　　学校・ご自宅と事業所の間の送迎を行います。 利用料金　　児童福祉法に基づいた利用料金をいただきます。 　　　　　　※　受給者証の利用者負担上限月額内の負担となります。 　　　　　　※　その他、活動費（実費）、おやつ代（１回５０円）が必要です。"
             style="width: 741.72px; left: 333.86px; top: 521px; position: absolute; color: #013C60; font-size: 20px; font-family: Abhaya Libre ExtraBold; font-weight: 800; line-height: 40px; word-wrap: break-word">
            対　　象　　小学１年生～高校３年生（受給者証をお持ちの方）<br/>開 所 日　　月曜日～金曜日（祝日・お盆・年末年始を除く）<br/>　　　　　　※　不定期で土曜日に行事を開催します。<br/>支援時間　　学校授業日　学校終了後～１７：３０<br/>　　　　　　学校休業日　１０：３０～１５：００<br/>送　　迎　　学校・ご自宅と事業所の間の送迎を行います。<br/>利用料金　　児童福祉法に基づいた利用料金をいただきます。<br/>　　　　　　※　受給者証の利用者負担上限月額内の負担となります。<br/>　　　　　　※　その他、活動費（実費）、おやつ代（１回５０円）が必要です。
        </div>
    </div>
    <div class="information" id="information">
        <div class="wrapper">
            <h2 class="title">
                お知らせ
            </h2>
            <p class="sub-title">
                Information
            </p>
            <ul>
                <li>
                    <a href="/pdf/sample.pdf" title="ひだまり通信" target="_blank">
                        ひだまり通信
                    </a>
                </li>
                <li>
                    <a href="/pdf/sample.pdf" title="パンフレット" target="_blank">
                        パンフレット
                    </a>
                </li>
                <li>
                    <a href="/pdf/sample.pdf" title="支援プログラム" target="_blank">
                        支援プログラム
                    </a>
                </li>
                <li>
                    <a href="/pdf/sample.pdf" title="支援プログラム" target="_blank">
                        ガイドラインアンケート結果
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contact" id="contact">
        <div data-layer="お問い合わせ" class="title"
             style="left: 651px; top: 1205px; position: absolute; color: #013C60; font-size: 35px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
            お問い合わせ
        </div>
        <div data-layer="Contact" class="sub-title"
             style="left: 721px; top: 1259px; position: absolute; color: #013C60; font-size: 20px; font-family: Asap; font-weight: 700; word-wrap: break-word">
            Contact
        </div>
        <div data-layer="特定非営利活動法人ミライエ　みらいキッズ 〒８９９－２７０３　鹿児島市上谷口町２８６５－１ 📞０８０－４０７２－１６６２（受付時間　平日１０：００～１９：００） 個別相談・見学も随時受け付けています。お気軽にお問い合わせください。"
             style="width: 838px; height: 176px; left: 356px; top: 1320px; position: absolute; color: #013C60; font-size: 20px; font-family: Abhaya Libre ExtraBold; font-weight: 800; line-height: 40px; word-wrap: break-word">
            特定非営利活動法人ミライエ　みらいキッズ<br/>〒８９９－２７０３　鹿児島市上谷口町２８６５－１<br/>📞０８０－４０７２－１６６２（受付時間　平日１０：００～１９：００）<br/>個別相談・見学も随時受け付けています。お気軽にお問い合わせください。<br/>
        </div>
        <img data-layer="map 1" class="Map1"
             style="width: 1203.64px; height: 540px; left: 165px; top: 1613px; position: absolute"
             src="https://placehold.co/1204x540"/>
    </div>
</div>
</body>
</html>
